#shop_banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url(../../images/shop-background.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    z-index: 1;
}

#shop_banner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    z-index: -1;
}

.shop_banner__heading {
    color: white;
    padding: 0 5%;
    text-align: center;
}

.shop_banner__heading>h1 {
    font-size: 3.2rem;
    font-weight: 700;
    color: rgb(255, 139, 7);
}

.shop_banner__heading>h3 {
    font-size: 1.1rem;
    color: rgb(192, 145, 26);
}

.shop_banner__img {
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}

.shop_banner__heading img {
    height: 20vh;
    width: 40%;
    border-radius: 10px;
    object-fit: cover;
    margin: 4%;
}